/* body {
  background: linear-gradient(to right, lightblue, lightpink, lightgreen);
}

.heading {
  color: black;
  font-size: 40px;
}
.text1 {
  color: #000000;
  font-size: 30px;
  position: relative;
  top: 70px;
  left: 380px;
  font-style: unset;
  font-weight: bold;
}
.text2 {
  color: black;
  font-size: 30px;
  position: relative;
  top: 150px;
  left: 50px;
  font-style: unset;
  font-weight: bold;
}
.text3 {
  color: black;
  font-size: 30px;
  position: relative;
  top: 230px;
  right: 300px;
  font-style: unset;
  font-weight: bold;
}
.box1 {
  height: 30px;
  width: 200px;
  border-radius: 20px;
}
.box2 {
  height: 30px;
  width: 100px;
  border-radius: 20px;
  background-color: darkorange;
  color: black;
  font-size: 20px;
  font-style: unset;
  font-weight: bold;
  position: relative;
  top: 320px;
  right: 500px;
}
.box4 {
  margin-top: 22%;
  width: 66%;
  margin-left: 18%;
  margin-right: 18%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: yellow;
  border-radius: 18px;
}
.text4 {
  height: 40px;
  line-height: 40px;
  width: 390px;
  text-align: center;
  border: 1px solid black;
  background-color: white;
  border-radius: 18px;
} */
